header{
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
}
body{
    background-color: rgb(85, 9, 129);
    color:  rgb(85, 9, 129);
}
img{
    width: 100;
    height: 75px;
}
#logo,#welcome{
    /*border: solid;*/
    background-color: white;
    padding: 15px;
    /*display:inline-block;*/
}
#welcome{
    margin-left: 150px;

}
h2{
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 10px;
    margin-top: 75px;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;   
}
.type{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
form{
    border: 1px solid;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    margin-top: 75px;
}
#ouCompte{
    text-align: center;
}
#btns,#save{
    text-align: center;
}
.btn{
    margin: 15px;
    padding: 8px;
    color: rgb(85, 9, 129);
    height: 33px;
    width: 200px;
    cursor: pointer;
}
a{
    text-decoration: none;
}
input:focus {
    background: #eaeaea;
}
input[type=submit] {
    width: 150px;
    padding: 10px;
    margin: 15px;
    height: 35px;
    cursor: pointer;
}
input[type=reset] {
    width: 150px;
    padding: 10px;
    height: 35px;
    cursor: pointer;
}
#infogen,#infoprof{
    margin: 15px;
    
}
#infosclient{
    display: flex;
    justify-content: space-around;
}
fieldset {
    /*margin-bottom: 15px;*/
    /*padding: 15px;*/
    /*text-align: center;*/
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 170px;
}
legend {
    padding: 0px 3px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
input{
    height: 20px;
    border-radius: 8px;
    margin: 5px;
}
select{
    margin-left: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 160px;
    height: 30px;
}
input,select{
    /*width : 150px;*/
    /*margin: 0;*/
    /*padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}
button{
    width: 100px;
    height: 40px;
    margin-top: 50px;
}
#divform,#search,#divform1,#search1,#divform2,#search2{
    display:none;
}
/*input{
    text-align: center;
}


